# Ignorer les fichiers Python inutiles
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

*.egg-info/
*.egg

.pytest_cache/
.mypy_cache/
.pyright/

.python-version

# Environnements virtuels
venv/
.env/
env/
.venv/

# Éditeurs et IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Builds / assets temporaires
build/
dist/
*.log
